:root {
    --yellowText: #e4ab24;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    line-height: 1.3rem;
    word-spacing: 0.2rem;
    user-select: none;
    -webkit-user-select: none;
    resize: none;
    font-family: "Dosis", sans-serif;
    font-weight: normal;
}
body.darkMode {
    background: #1E2126;
}
body.lightMode {
    background: #F1EEE0;
}
.darkMode header,
.darkMode section {
    color: #fff;
    background-image: radial-gradient(circle at 0% 0%, #23344f, transparent 40%);
    background-color: #1E2126;
    background-attachment: fixed;
}
.lightMode header,
.lightMode section {
    color: #000;
    background-image: radial-gradient(circle at 0% 0%, #4fbeffa3, transparent 40%);
    background-color: #F1EEE0;
    background-attachment: fixed;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    white-space: nowrap;
}
button:hover {
    filter: brightness(110%);
}
button, input, textarea {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    touch-action: manipulation;
}
.flexColumn10 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centeredElement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Shining line */
.darkMode .shiningTop {
    border-top: 0.7px solid transparent;
    border-image: radial-gradient(circle at 50% 0, #fff, transparent 70%);
    border-image-slice: 1;
}
.lightMode .shiningTop {
    border-top: 0.7px solid transparent;
    border-image: radial-gradient(circle at 50% 0, #000, transparent 70%);
    border-image-slice: 1;
}
.darkMode .shiningBottom {
    border-bottom: 0.7px solid transparent;
    border-image: radial-gradient(circle at 50% 0, #fff, transparent 70%);
    border-image-slice: 1;
}
.lightMode .shiningBottom {
    border-bottom: 0.7px solid transparent;
    border-image: radial-gradient(circle at 50% 0, #000, transparent 70%);
    border-image-slice: 1;
}

/* Settings */
.overflowMenuButton {
    z-index: 100;
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.overflowMenuButton > div {
    width: 3px;
    height: 3px;
    border-radius: 50%;
}
.darkMode .overflowMenuButton > div {
    background-color: #fff;
}
.lightMode .overflowMenuButton > div {
    background-color: #000;
}
.overflowMenuPanel {
    z-index: 200;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 15px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    transform: translateX(-20%);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.overflowMenuPanelOn {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: all;
}
.darkMode .overflowMenuPanel {
    border: solid 0.5px #555;
    border-top: solid 0.5px #aaa;
    background-color: #55555522;
}
.lightMode .overflowMenuPanel {
    border: solid 0.5px #fff;
    border-top: solid 1px #fff;
    background-color: #ffffff33;
}
.overflowMenuPanel > h5 {
    padding: 5px;
    cursor: pointer;
}
.overflowMenuPanel > h5:hover {
    background-color: #ffffff11;
}
.overflowMenuPanel i {
    margin-right: 10px;
}

/* add update item form */
.addUpdateItemForm {
    overflow-y: hidden;
    transition: 0.5s;
}
.formInnerWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 30px 30px;
    border-bottom: solid 0.5px;
}
.closeFormButton {
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
}
.formInnerWrapper > div > input,
.formInnerWrapper > div > textarea {
    width: 100%;
}


@media (min-width: 1024px) {
    .overflowMenuPanel {
        width: fit-content;
        padding: 10px;
        gap: 5px;
    }
    .overflowMenuPanel > h5 {
        padding: 10px 20px;
    }
}